<div class="container col-lg-8">
<h3 class=" text-center "> À PROPOS </h3>
<hr class="col-lg-1 black">
<div class="row ">
<p class="text-center"> 
    Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez sur "Modifier Texte" ou double-cliquez ici pour
    ajouter votre contenu et personnaliser les polices. Déplacez-moi où vous le souhaitez sur votre page. Expliquez ici
    votre parcours et présentez votre activité à vos visiteurs
</p>
<p class="text-center">
    Présentez votre entreprise, vos services et vos équipes. Utilisez cet espace pour décrire votre activité. Présentez
    votre équipe et les services proposés. Expliquez à vos visiteurs vos motivations, vos objectifs et soulignez vos
    avantages par rapport à vos concurrents. Démarquez-vous et captivez l'attention de vos visiteurs.
</p>
</div>
<div class="row">
<span class="col-md-6">
<img src="https://static.wixstatic.com/media/157553_85e6da704e15413f9e2c35bc45140e1f.jpg/v1/fill/w_412,h_297,al_c,q_80,usm_0.66_1.00_0.01/157553_85e6da704e15413f9e2c35bc45140e1f.webp" alt="">
</span>
<span class="col-md-6">
<img src="https://static.wixstatic.com/media/157553_ff2a433785774361b1bc29d256d92b9d.jpg/v1/fill/w_312,h_297,al_c,q_80,usm_0.66_1.00_0.01/157553_ff2a433785774361b1bc29d256d92b9d.webp" alt="">
</span>
</div>
</div>