<div class="container col-lg-8">
  
    <h3 class=" text-center "> CONTACTEZ-NOUS </h3>
    <hr class="col-lg-1 black">
    <div class="row ">
    <p class="  text-center d-flex justify-content-center"> 
        Paragraphe. Cliquez ici pour ajouter votre propre texte. Relatez ici votre parcours et présentez votre activité à vos visiteurs.
    </p>
    </div>
        <div class="   d-flex justify-content-center ">
          <form class="col-4 align-self-center " >
              
              <input type="text" size="42" class="form-text text-muted" placeholder="Prénom "  name="" id="">
             
              <input type="email" size="42" class="form-text text-muted"  placeholder="E-mail " name="" id="">
            
              <textarea name="" id="" class="form-text text-muted" cols="45"  placeholder=" Redegez votre message ici ... " rows="5"></textarea>
          
              <button class="btn btn-secondary " >Envoyer</button>
          
          </form>
        </div>
  
</div>