<div class="container ">
    <div class="row  align-self-center ">
        <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item *ngFor="let item of articles">
              <img class="d-block w-100" src="{{item.image}}" alt="First slide">
            </mdb-carousel-item>
          </mdb-carousel>
          <div class="row  col-8 align-self-center" >
            <carousel >
              <div class="carousel-cell  " *ngFor="let item of articles">
                <app-item-component [item]="item"></app-item-component>
              </div>
            </carousel>
            
          </div>
</div>
</div>