<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="https://as2.ftcdn.net/jpg/00/74/63/87/500_F_74638793_L0lgI9aiuPKDXelZS5edW9lbiRae6DAI.jpg" alt="Uthappizza">
            <div class="carousel-caption d-none d-md-block">
                <h2>Uthappizza <span class="badge badge-danger">HOT</span> <span
                        class="badge badge-pill badge-default">$4.99</span></h2>
                <p class="d-none d-sm-block">A unique combination of Indian Uthappam (pancake) and
                    Italian pizza, topped with Cerignola olives, ripe vine
                    cherry tomatoes, Vidalia onion, Guntur chillies and
                    Buffalo Paneer.</p>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
        </ol>
        <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    
</div>