<div class="container  col-8">
    <div>
        <h3 class="text-center"> NOS BOUTIQUES </h3> <br>
        <div class="row align-self-center">
            <hr class="col-md-2 col-sm-4  black">
        </div>
        <div class="col align-self-center">
            <p class="  text-center d-flex justify-content-center">
                Paragraphe. Cliquez ici pour ajouter votre propre texte. Relatez ici votre parcours et présentez votre
                activité à vos visiteurs.
            </p>
        </div>
        <div class="row  ">
            <div class="col align-self-start">
                <h5>Bijou Paris</h5>
                <p> 15, rue du Château

                    75001 Paris, France</p>
            </div>
            <div class="col align-self-end">
                <h5>Bijou Paris</h5>
                <p> 15, rue du Château

                    75001 Paris, France</p>
            </div>
        </div>

        <div>
            <h3 class="text-center"> DISTRIBUTEURS </h3> <br>
            <div class="row align-self-center">
                <hr class="col-md-2 col-sm-4  black">
            </div>

            <div class="col align-self-center">

                <h5>Bijouterie Mercier

                </h5>
                <p> Strasbourg</p>
            </div>
            <div class="col align-self-center">

                <h5>Bijouterie Mercier

                </h5>
                <p> Strasbourg</p>
            </div>
            <div class="col align-self-center">

                <h5 class="text-center">Bijouterie Mercier
                </h5>  <p> Strasbourg</p>
            </div>

        </div>

    </div>